%section
  .wrapper
    %h1 Tracks
    %table
      %thead
        %tr
          %th Name
          %th Workshops
          %th Status
          %th
      - if @tracks.total_pages > 1
        %tfoot
          %th{ colspan: 4 }= paginate @tracks
      %tbody
        - @tracks.each do |track|
          %tr
            %td= link_to track.name, track
            %td= track.workshops.count
            %td= track.status
            %td.actions
              %div
                = link_to track.name, edit_track_url(track), class: 'edit'
