%section.textual
  %h1 Events
  %nav
    = link_to 'New', new_event_url, class: 'btn secondary icon new'
  %table
    %thead
      %tr
        %th= sort_link 'Workshop', 'workshops.name'
        %th= sort_link 'Start', 'events.starts_at'
        %th= sort_link 'End', 'events.ends_at'
        %th= sort_link 'Status', 'events.status'
        %th= sort_link 'Registrations', 'events.registrations_count'
        %th
    - if @events.total_pages > 1
      %tfoot
        %td{ colspan: 6 }= paginate @events
    %tbody
      - @events.each do |event|
        %tr
          %td= link_to event.workshop_name, edit_event_url(event)
          %td
            %time.icon.event
              = event.starts_at.strftime '%b %e, %Y @ %l:%M %P'
          %td
            %time.icon.event
              = event.ends_at.strftime '%b %e, %Y @ %l:%M %P'
          %td= event.status
          %td.alignr= event.registrations_count
          %td.actions
            %div
              = link_to 'Registrations', admin_event_registrations_url(event), class: 'registrations'
              = link_to 'Edit', edit_event_url(event), class: 'edit'
