%section.textual
  %h1 Registrations
  - if @registrations.blank?
    %p No one has registered for this yet.
  - else
    %table
      %thead
        %tr
          %th= sort_link 'Student', 'student_profiles.name'
          %th= sort_link 'Status', 'registrations.status'
          %th= sort_link 'Amount Paid', 'registrations.amount_paid_in_cents'
          %th Due
          %th
      - if @registrations.total_pages > 1
        %tfoot
          %td{ colspan: 5 }= paginate @registrations
      %tbody
        - @registrations.each do |registration|
          %tr
            %td= registration.student_profile_name
            %td= registration.status
            %td= registration.formatted_amount_paid
            %td= registration.formatted_amount_due
            %td.actions
              %div
                = link_to 'Edit', edit_event_registration_url(event_id: registration.event_id, id: registration.id), class: 'edit'
