%section.textual
  %h1 Tracks
  %nav
    = link_to 'New', new_track_url, class: 'btn secondary icon new'
  %table
    %thead
      %tr
        %th= sort_link 'Name', 'name'
        %th Workshops
        %th= sort_link 'Status', 'status'
        %th
    - if @tracks.total_pages > 1
      %tfoot
        %td{ colspan: 4 }= paginate @tracks
    %tbody
      - @tracks.each do |track|
        %tr
          %td= link_to track.name, edit_track_url(track)
          %td= track.workshops.count
          %td= track.status
          %td.actions
            %div
              = link_to 'Edit', track, class: 'view'
              = link_to 'View', edit_track_url(track), class: 'edit'
