%section.textual
  %h1 Workshops
  %nav
    = link_to 'New', new_workshop_url, class: 'btn secondary icon new'
  %table
    %thead
      %tr
        %th= sort_link 'Track', 'tracks.name'
        %th= sort_link 'Name', 'workshops.name'
        %th= sort_link 'Votes', 'workshops.votes_count'
        %th Scheduled
        %th= sort_link 'Status', 'workshops.status'
        %th
    - if @workshops.total_pages > 1
      %tfoot
        %td{ colspan: 6 }= paginate @workshops
    %tbody
      - @workshops.each do |workshop|
        %tr
          %td
            - if workshop.track.present?
              = workshop.track_name
            - else
              &mdash;
          %td= link_to workshop.name, edit_workshop_url(workshop)
          %td
            .progress
              - percent = workshop.votes.count.to_d / workshop.votes_goal.to_d * 100
              .bar{ style: "width: #{percent < 100 ? percent : 100}%" }
                = workshop.votes.count
          %td
            - if workshop.events.current.any?
              - workshop.events.current.each do |event|
                %time.icon.event
                  = link_to event.starts_at.strftime('%b %e, %Y %l:%M %P'), event
            - else
              &mdash;
          %td
            %mark.icon{ class: under_camel(workshop.status) }= workshop.status
          %td.actions
            %div
              = link_to 'View', workshop, class: 'view'
              = link_to 'Schedule', new_event_url(workshop: workshop), class: 'schedule'
              = link_to 'Edit', edit_workshop_url(workshop), class: 'edit'
