%section.textual
  %h1 Workshops
  = link_to 'New', new_workshop_url, class: 'btn secondary icon new'
  %table
    %thead
      %tr
        %th Name
        %th Track
        %th Votes
        %th Scheduled
        %th Status
        %th
    - if @workshops.total_pages > 1
      %tfoot
        %td{ colspan: 6 }= paginate @workshops
    %tbody
      - @workshops.each do |workshop|
        %tr
          %td= link_to workshop.name, edit_workshop_url(workshop)
          %td
            - if workshop.tracks.any?
              - workshop.tracks.each do |track|
                = link_to track.name, track
            - else
              &mdash;
          %td
            .progress
              - percent = workshop.votes.count.to_d / workshop.votes_goal.to_d * 100
              .bar{ style: "width: #{percent < 100 ? percent : 100}%" }
                = workshop.votes.count
          %td
            - if workshop.events.current.any?
              - workshop.events.current.each do |event|
                %time.icon.event
                  = link_to event.starts_at.strftime('%b %e, %Y %l:%M %P'), event
            - else
              &mdash;
          %td
            %mark.icon{ class: under_camel(workshop.status) }= workshop.status
          %td.actions
            %div
              = link_to 'View', workshop, class: 'view'
              = link_to 'Edit', edit_workshop_url(workshop), class: 'edit'
