%section.textual
  %h1 #{@month.strftime '%B %Y'}
  %nav
    - prev_month = @month - 1.month
    - next_month = @month + 1.month
    = link_to prev_month.strftime('%B'), events_month_url(prev_month.year, prev_month.month), class: 'btn secondary icon prev'
    = link_to next_month.strftime('%B'), events_month_url(next_month.year, next_month.month), class: 'btn secondary icon next'

%section.calendar{ class: "offset#{@month.strftime('%u').to_i - 1}" }
  .labels
    - ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'].each do |day|
      %mark= day
  .days
    - @events_by_day.each do |day, events|
      .day{ class: (@month == Time.now.beginning_of_month && day == Time.now.day) ? 'today' : nil }
        %mark= day
        %ol.events
          - events.each do |event|
            %li
              = link_to event do
                %time= event.starts_at.strftime('%l:%M')
                %dfn= event.workshop_name
