%section.textual.workshop
  %h1= @event.workshop_name
  = text_to_html @event.workshop_description

  %dl
    - if @event.workshop.track.present?
      %dt Track
      %dd= link_to @event.workshop_track_name, @event.workshop.track
    - if @event.instructor_profiles.any?
      %dt Instructor
      %dd
        - @event.instructor_profiles.each do |instructor|
          = link_to instructor.name, instructor

%aside.textual
  %time.big
    .monthday= @event.starts_at.strftime '%b %e'
    .hourspan
      = @event.starts_at.strftime '%l:%M%P'
      &mdash;
      = @event.ends_at.strftime '%l:%M%P'
  .progress
    - percent = 50
    .bar{ style: "width: #{percent < 100 ? percent : 100}%" }
      5
  %p
    This only has #{pluralize 5, 'spot', 'spots'}
    left. Register now to save your spot.
  %p= link_to 'Register', '#signup', class: 'btn'
  %hr
  = render 'shared/about'
