- already_registered = registered_for_event?(@event)

%section.textual.workshop
  %h1= @event.workshop_name
  = text_to_html @event.workshop_description

  %dl
    - if @event.workshop.track.present?
      %dt Track
      %dd= link_to @event.workshop_track_name, @event.workshop.track
    - if @event.instructor_profiles.any?
      %dt Instructor
      %dd
        - @event.instructor_profiles.each do |instructor|
          = link_to instructor.name, instructor
    %dt Length
    %dd= @event.hours_long

%aside.textual
  %time.big
    .monthday= @event.starts_at.strftime '%b %e'
    .hourspan
      = @event.starts_at.strftime '%l:%M%P'
      &mdash;
      = @event.ends_at.strftime '%l:%M%P'
  .progress
    - percent = @event.registrations_count.to_d / @event.registrations_max.to_d * 100
    .bar{ style: "width: #{percent < 100 ? percent : 100}%" }
      = @event.registrations_count
  - unless already_registered
    %p
      This only has
      %strong #{pluralize (@event.registrations_max - @event.registrations_count), 'spot', 'spots'}
      left. Register now to save your spot.
  %h3
    - if already_registered
      You're registered for this workshop
    - else
      = @event.formatted_cost
  - if logged_in? && current_user.student?
    = form_for Registration.new do |f|
      = f.hidden_field :event_id, value: @event.id
      = f.hidden_field :student_profile_id, value: current_user.student_profile_id
      = button_tag 'Register'
  - elsif !logged_in?
    %h3= @event.formatted_cost
    %p= link_to 'Register', login_url, class: 'btn', data: { confirm: "Please login to register.", buttontext: 'Login' }
  %hr
  = render 'shared/about'
