- content_for :header do
  = stylesheet_link_tag 'home'

%section.landing
  %h1 Learn how to web
  %h2 Hands-on instruction from the pros
  .classes= link_to 'Classes', '#'

%section.info
  .wrapper
    %aside
      %h1 Fun
      %p
        Being a jack of all trades almost feels like a requirement when it comes
        to building a website. If learning is a requirement, then
      %p
        %strong
          Learning
          %em should
          be fun.
    %aside
      %h1 Easy
      %p
        With so many free resources out there, you’d think learning new stuff
        would be easy. Unfortunately, that’s not always the case.
      %p
        %strong
          Learning
          %em should
          be easy.

%section.pic

%section.classes
  .wrapper
    %h1 Level up
    %p
      A maxium class size of 10 means getting the most out of our workshops.
      Attend any of the 6 week tracks, or pick and choose what you need to brush
      up on.
    %aside
      %h2 General
      %ul
        %li= link_to 'Programming Basics', '#'
        %li= link_to 'Intro to Git & Github', '#'
        %li= link_to 'Symantic HTML', '#'
      %h2 JavaScript
      %ul
        %li= link_to 'JavaScript: Intro & Core Concepts', '#'
        %li= link_to 'JavaScript:  DOM Manipulation', '#'
        %li= link_to 'JavaScript:  Functions', '#'
        %li= link_to 'JavaScript:  Events', '#'
        %li= link_to 'JavaScript:  Advanced Concepts', '#'
        %li= link_to 'Intro to CoffeeScript', '#'
      %h2 Ruby on Rails
      %ul
        %li= link_to 'Intro to Ruby', '#'
        %li= link_to 'Rails: Intro & Core Concepts', '#'
        %li= link_to 'Rails: Your First App', '#'
    %aside
      %h2 CSS
      %ul
        %li= link_to 'CSS: Core Concepts', '#'
        %li= link_to 'CSS: Advanced Concepts 1', '#'
        %li= link_to 'CSS: Advanced Concepts 2', '#'
      %h2 WordPress
      %ul
        %li= link_to 'Intro to PHP', '#'
        %li= link_to 'WordPress: Intro & Core Concepts', '#'
        %li= link_to 'WordPress: Your First Theme', '#'
        %li= link_to 'Wordpress: Your First Plugin', '#'

%section.quote
  %q
    Somewhere, something incredible 
    %br
    is waiting to be known.
  %cite —Carl Sagan
