!!!
%html
  %head
    %title #{defined?(@page_title) ? "#{@page_title} / " : ''} Starfactory
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=0.5' }
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Raleway:100,300,600'
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'application', media: :all
    = yield :header
    = favicon_link_tag asset_path('favicon.png')
    = csrf_meta_tags

  %body{ class: body_classes }
    %header
      .wrapper
        = link_to root_url, class: 'brand' do
          = svg_image 'starfactory-logo', alt: 'Starfactory'
        %nav
          = link_to 'Admin', admin_url if logged_in? && current_user.admin?
          = link_to 'Workshops', tracks_url
          = link_to 'Calendar', events_url
          = link_to 'Instructors', instructor_profiles_url
          - unless logged_in?
            = link_to 'Students', login_url
          - if logged_in?
            = link_to 'Logout', logout_url

    #body
      %article
        - unless current_page? root_url
          %nav.breadcrumbs= render_breadcrumbs separator: ''
        - if !!error
          %mark#flash.error= error
        - elsif !!notice
          %mark#flash.notice= notice

        = yield

      %footer
        .wrapper
          %nav
            = link_to 'Contact', contact_url
            &middot;
            = link_to 'Privacy', privacy_url
            &middot;
            = link_to 'Terms', terms_url
          .legal
            Starfactory is Copyright &copy; #{Time.now.year}, Douglas Waltman II

    = javascript_include_tag 'application'
    = yield :footer
